<!DOCTYPE html>
<html>
<head>
	<title>INQUIRR</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="./css/main.css">

	<script type="text/javascript">
		window.addEventListener('load', () => {
			const display_response = document.getElementById('response');
			const registration_form = document.getElementById('form');
			registration_form.addEventListener('submit', (event) => {
				event.preventDefault();
				
				const form_json = {};
				for (let [key, val] of new FormData(registration_form))
					form_json[key] = val;

				console.log(form_json);
				fetch('/login',{
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(form_json)
				})
				.then(response => response.json())
				.then((res) => {
					registration_form.reset();
					if(!res.ok) throw new Error(res.err);
					display_response.textContent = "You have successfully logged in.";
					window.location.replace('/home');
				})
				.catch(err => display_response.textContent = 'Error: ' + err.message);
			});
		})
	</script>
</head>
<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Login</p>
		</div>
		<div class="form-group">
			<form id="form" method="post" >
				<input type="text" name="username" placeholder="username" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<input type="submit" value="Login" class="btn btn-success">
			</form>
		</div>
		<div class="mssg bg-danger">
			<span id="response" ></span>
		</div>
		</div>
		<!-- <div><span>Forgot your password? </span><a href="/forgetpass">Reset password</a> -->
		<div><span>Don't have an account? </span><a href="/">Sign up</a>

		</div>
		
	</div>
</body>
</html>