<div class="project">
	<span class="name"><%= project.name %></span>
	<span class="metadata"><%= project.meta.viewsCount %> <span class="material-symbols-outlined">visibility</span> | <%= project.meta.amountOfUsersInterested %> <span class="material-symbols-outlined">favorite</span></span>
</div>