<div class="user">
	<div class="upper">
		<img class="avatar", src="./cat.png" />
		<span><%= user.username %></span>
	</div>
	<div class="lower">
		<p class="desc"><%= user.description %></p>
		<button class="follow">Follow</button>
		<button class="chat">Chat</button>
	</div>
</div>