/*body,
 table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }*/
:root, input {
	font-family: 'Bahnschrift', 'Segoe UI', 'Trebuchet MS', sans-serif !important;
}
p{
	margin-top: 20px;
	font-size: 30px;
}
input{
	text-align: start;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

label {
	display: block;
	text-align: start;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}